<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div id="InputCard" style="width: 20rem;">
    <app-column-card [title]="'Add New Column'" [showButtons]="true" ></app-column-card>
  </div>
  <div id="itemList">
    <div id="list" style="width: 20rem; display: inline-flex;">
      <p-orderList [value]="functionTypes" dragdrop="true" dragdropScope="functionTypes">
        <ng-template let-car pTemplate="item">
          <label>{{car.name}}</label>
        </ng-template>
      </p-orderList>
    </div>
    &nbsp;
    <div id="card" style="width: 20rem; display: inline-flex;">
      <app-column-card #listCard [showButtons]="false"></app-column-card>
    </div>
  </div>
</div>
